<%- layout('layouts/main.ejs') %>

<div class="jumbotron mt-4">
    <h1 class="display-4">Bienvenidos a mi Trivia</h1>
    <p class="lead">Esta trivia esta creada por Ezequiel Barrague</p>
    <hr class="my-4">
    <p>Una trivia es una serie de preguntas que se plantean en el marco de un concurso o de un juego, 
            cuyas respuestas deben ser escogidas entre diferentes opciones. Como se puede apreciar, aquello que entendemos por trivia se vincula a un conocimiento compartido 
            (ya que las preguntas suelen apuntar a un saber general), a un camino dividido en diferentes ramas (las distintas respuestas tentativas que se presentan para cada pregunta)
            y a una encrucijada (vinculada a la duda que surge sobre cuál es la respuesta correcta en cada caso).</p>
        <a href="https://github.com/Chechecrakk" class="btn btn-primary btn-lg">Mi Github</a>
        <hr class="my-4">
        <h2>Registrate en mi Trivia</h2>
  <div class="row">
       <div class="col-md-4 mx-auto">
           <form action="/signup" method="POST">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Ingresa
                        </button>
                        </div>
                        </form>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
