<%- layout('layouts/main.ejs') %>

<div class="jumbotron mt-4">
    <h1 class="display-4">Bienvenidos a mi Trivia</h1>

<hr class="my-4">
    <h4>En esta trivia podras: <br>
      * Hacer tus propias preguntas <br>
      * Ver ejemplo de las preguntas <br>
      * Visitar mi Github <br></h4>
      <div class="row">
            <div class="col-md-4 mx-auto">
      <div class="form-group">
      <a href="https://github.com/Chechecrakk" class="btn btn-primary btn-block">Mi Github</a>
      </div>
    </div>
</div>
      <hr class="my-4">
      <h2>Registrate en mi Trivia</h2>
<div class="row">
     <div class="col-md-4 mx-auto">
         <form action="/signup" method="POST">
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">
                          Ingresa
                      </button>
                      </div>
                      </form>
                      </div>
                      </div>
  </div>
  </div>