<%- layout('layouts/main.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prueba</title>
</head>
<body>
    
    <div class="card">
     <div class="card-header">
    <main class="container">
<h1> TRIVIA </h1>
<div id="test"></div>
<div id="resultado"></div>
<div class="card-body">
		<button type="submit" class="btn btn-primary btn-block" id="boton">
				¿Cuantas acertaste?
		</button>
</div>
	<script src="script.js"></script>
	</main>
</div>
</div>
</body>
</html>